i
{ position: absolute;
  z-index: 5;
  color: var(--bs-gray-500) }

.bi-search
{ font-size: x-large;
  top: 2px;
  right: 17px }

.bi-x
{font-size: xx-large;
 top: -4px;
 right: 11px;
 cursor: pointer }

.bi-x:hover
{ color: var(--bs-gray-600) }
